#jinja2: trim_blocks: True
# {{ ansible_managed }}. Template: {{ template_fullpath }}

daemon={{ ddclient_daemon }}
ssl={{ ddclient_ssl }}
syslog=yes
verbose
facility=local3
pid=/var/run/ddclient.pid
{% if ddclient_specify_cache %}
cache={{ __ddclient_cache_directory }}/ddclient.cache
{% endif %}

{% for config in ddclient_configs %}
{% if config.usev4 is defined and config.usev4 %}
usev4={{ config.usev4 }}
{% endif %}
{% if config.ifv4 is defined and config.ifv4 %}
ifv4={{ config.ifv4 }}
{% endif %}
protocol={{ config.protocol }}
{% if config.server is defined and config.server %}
server={{ config.server }}
{% endif %}
{% if config.backupmx is defined and config.backupmx %}
backupmx={{ config.backupmx }}    
{% endif %}
{% if config.mx is defined and config.mx %}
mx={{ config.mx }}
{% endif %}
{% if config.mxpri is defined and config.mxpri %}
mxpri={{ config.mxpri }},
{% endif %}
{% if config.zone is defined and config.zone %}
zone={{ config.zone }}
{% endif %}
{% if config.ttl is defined and config.ttl %}
ttl={{ config.ttl }}
{% endif %}
login={{ config.login }}
password={{ config.password }}
{{ config.hosts|join(', ')}}

{% endfor %}
